# Ignore virtual environment
venv/
.venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.so
*.pyd
*.dll

# Ignore VS Code settings
.vscode/

# Ignore environment variables
.env

# Ignore audio files (optional)
*.mp3
*.wav

# Ignore OS files
.DS_Store
Thumbs.db
